PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/url_shortener?schema=public"
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=url_shortener

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

BASE_URL=http://localhost:3000

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh-in-production
JWT_REFRESH_EXPIRES_IN=7d

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=00000
MAIL_USER=000000
MAIL_PASS=password
MAIL_FROM=noreply@urlshortener.dev